/* глобальные параметры */
body {
	min-width: 400px;
	margin: 0px;
	padding: 0px;
	
	font-family: "Arial Narrow", Arial, sans-serif;
	font-size: 25px;
	line-height: 50px;
	color: #ffffff;
	text-transform: uppercase;
	
	background-color: #192327;
	
}
img {
  max-width: 100%;
  height: auto;
}
a {
	color: #ffffff;
	text-decoration: none;
	list-style: none;
}
h2{
	font-size: 40px;
	text-align: center;
	
}
.hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* базовая стилизация */

.navigation,
.work_in_numbers,
.footer_menu {
	font-size: 25px;
	line-height: 50px;
	list-style: none;
}

.navigation a:hover,
.navigation a:focus {
	background-color: #d8d02e;
	color: #192327;
}

.footer_menu a:hover,
.footer_menu a:focus {
	color: #2e3748;
}

.visiting_card_page {
	text-align: center;
	font-size: 30px;
}
.visiting_card_page h1{
	font-size: 70px;
}

.visiting_card_page span {
	color: #d8d02e;
	font-size: 50px;
}
div.visiting_card_page {	
	background-color: rgba(25, 35, 39, 0.8);
	background: #2e3748 url(succulent-1031033_1920.svg) no-repeat;
	background-size: cover;

}
p.info_page {
	line-height: 50px;
}
.work_in_numbers li {
	line-height: 40px;
}

.white_background {
	background-color: #d4d7d8;
	color: #192327;
	font-size: 70px;
}
.feed_back {
	margin: 0px;
	padding-top: 260px;
	padding-bottom: 90px;
	background: #2e3748 url(succulent-1031033_1920.svg) no-repeat;
	opacity: 1;
	background-size: cover;
}

.feed_back_heading {
	margin: 0px;
	padding: 0px;
	font-size: 70px;
	text-align: center;
		
}

.feed_back_text {
	font-size: 40px;
	line-height: 65px;
	color: #d8d02e;
	text-align: center;
}

button {
	font: inherit;
	text-align: center;
	background-color: #d8d02e;
	vertical-align: middle;
	border: none;
	border-radius: 5px;
}

button:hover,
button:focus,
button:active {
	background-color: #192327;
	color: #ffffff;
}
input {
	font: inherit;
	background-color: transparent;
	border: none;
	border-bottom: 4px solid #ffffff;
	color: #ffffff;
}
input:focus{
	border-color: #d8d02e;
}


input::placeholder { 
	color: #ffffff;
}

/*сетка*/
header {
	margin: 0px;
	padding: 0px;	
}
.navigation {
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
}
.container_navigation {
	width: 100%;
}
/* попробовала сделать размер контейнера */
.visiting_card_page{
	padding-top: 475px;
	padding-bottom: 450px;
	margin-bottom: 115px;
	position: relative;
}
/* .visiting_card_page h1 {
	padding-top: 310px;
}
.visiting_card_page p {
	padding-bottom: 295px; 
}*/
.center_column {
	display: flex;
	justify-content:  center;
	flex-wrap: wrap;
}
.container {
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 190px;
}
.two_columns {
	display: flex;
	max-width: 1500px;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}
/*.right_column img {
	width: 840px;
	height: auto;
}*/
.left_column {
	width: 520px;
}

.adventages {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0;
}
.box{
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
}
.col {
	width: 550px;
	padding-left: 140px;
}
.galery_container {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0;
}
.galery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.galery img {
	margin-right: 70px;
	margin-left: 70px;
	margin-bottom: 70px;
}
.feed_back_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.feed_back_form button {
	align-self: center;
}
.input_container {
	width: 600px;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}
footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer_contacts {
	margin-left: 100px;
}
.footer_menu {
	margin-right: 100px;
}

/* заканчиваем стилизацию */

.col_nav a,
li.col_tel {
	display: block;
	padding: 80px 60px;
}

.visiting_card_page::before,
.visiting_card_page::after {
	content: "";
	position: absolute;
	left: 0px;

	background: url(triangle.png);
	
	width: 100%;
	height: 53px;
}
.visiting_card_page::before{
	top: 2px;
}
.visiting_card_page::after {
	bottom: 1px;
	background-position: 0 -53px;
}

.work_in_numbers li {
	min-height: 120px;
	width: 370px;
	padding-left: 110px;
}

ul.work_in_numbers {
	position: relative;
}

.work_in_numbers li::before {
	content: "";
	position: absolute;
	left: 0px;
	top: center;

	background: red;
	
	width: 100px;
	height: 110px;